.Layout {
    background-color: rgb(41, 41, 41);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 0 1rem;
    >img {
        animation: rotateReact 4s linear infinite;
        height: 5rem;
    }
    >h1 {}
}

@keyframes rotateReact {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}